<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        th {
            font-weight:normal;
        }
        body > .container {
            min-height: 100vh;
        }
        body{
            background-color:#dddddd;
        }
        .custom_table_properties th{
            overflow: hidden;
            padding-left:0;
            padding-right:0;
        }
    </style>
    <title>Player Table</title>
</head>
<body class="">
<div class="container bg-light py-5 px-4">
    <h2 class="m-auto text-center mb-5">
        Player table
    </h2>
    <table class="row custom_table_properties">
        <thead style="background-color:#b0c9df">
            <tr class="row text-center border">
                <th class="col border-end">ID</th>
                <th class="col border-end">Name</th>
                <th class="col border-end">Profession</th>
                <th class="col border-end">HP</th>
                <th class="col border-end">Attack Points</th>
                <th class="col border-end">Status</th>
                <th class="col border-end">Kills</th>
                <th class="col">Deaths</th>
            </tr>
        </thead>
        <tbody class="fw-light">
            {% if players: %}
                {% for player in players %}
                <tr class="row text-center border">
                    <th class="col border-end">{{player.id}}</th>
                    <th class="col border-end">{{player.name}}</th>
                    <th class="col border-end">{{player.profession}}</th>
                    <th class="col border-end">{{player.hp}}</th>
                    <th class="col border-end">{{player.attack_point}}</th>
                    <th class="col border-end">{{player.status}}</th>
                    <th class="col border-end">{{player.kills}}</th>
                    <th class="col">{{player.deaths}}</th>
                </tr>
                {% endfor %}
            {% else: %}
                <tr>
                    <th class="col">No players found.</th>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>